@media(max-width:768px){

.contact-header{

top:20px;

}



.back-home{

padding:

14px 22px;

}



.back-home span{

display:none;

}



.back-home i{

width:46px;

height:46px;

}

}
@media(max-width:768px){

.contact-side img{

width:180px;

margin:auto;

display:block;

}

}

@media(max-width:768px){

.contact-info{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}

}

@media(max-width:768px){

.contact-bottom{

position:sticky;

bottom:20px;

z-index:100;

}

.contact-bottom .btn{

width:100%;

}

}

@media(max-width:768px){

.contact{

padding-top:40px;

}

.contact h2{

font-size:36px;

line-height:1.1;

}

}